// Set colours
$bb-orange: #E56B54;
$bb-blue: #1D6C93;
$bb-white: #FFFFFF;

// Set fonts
@font-face {
  font-family: "CooperHewitt";
  font-weight: bold;
  src:url("/fonts/CooperHewitt-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Palanquin";
  src:url("/fonts/Palanquin-Regular.ttf");
}

body {
  // Overwrite default browser stlyes
  margin: 0px;
  font-size: 16px;
}

// Scroll Down intro section
.intro {
  height: 100%;
  background: $bb-orange;
  display: flex;
  align-items: center;
  justify-content: center;
  
  h1 {
    font-family: 'CooperHewitt';
    color: $bb-white;
  }
}

.how-it-works {
  margin: 30px 0px;

  .step {
    text-align: center;
    margin: 30px 0px;

    &__img__wrapper {
      width: 100px;
      height: 100px;
      position: relative;
      margin: auto;

      img {
        width: 100%;
        position: absolute;
        left: 0px;
      }
      
      // Set the colour version to
      // hide at first
      .colour-img {
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      
      // When class is added, show the coloured version
      .coloured {
        opacity: 1;
        transition-delay: 0s;
      }
    }
    
    &__header {
      font-family: 'CooperHewitt';
      line-height: 1.5;
      color: $bb-blue;
      font-size: 1em;
      margin-bottom: 10px;
    }

    &__description {
      font-family: 'Palanquin';
      color: $bb-blue;
      font-size: 1em;
    }

    // Looks at all .coloured images in steps 1 to 4
    // and adds a transition-delay that is times by 0.5 sec
    // Eg. loads step 1 > step 2 > step 3 > step 4
    @for $i from 4 to 1 {
      &:nth-child(#{$i}) .coloured {
        transition-delay: $i * 0.5s;
      }
    }
  }
}