// Set colours
$bb-orange: #E56B54;
$bb-blue: #1D6C93;
$bb-white: #FFFFFF;

// Set fonts
@font-face {
  font-family: "CooperHewitt";
  font-weight: bold;
  src:url("/fonts/CooperHewitt-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Palanquin";
  src:url(".../fonts/Palanquin-Regular.ttf");
}

body {
  // Overwrite default browser stlyes
  margin: 0px;
}

// Scroll Down intro section
.intro {
  height: 100vh;
  background: $bb-orange;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  h1 {
    font-family: 'CooperHewitt';
    color: $bb-white;
  }
}

.step {
  text-align: center;
}

.svg-wrapper {
  position: relative;
  margin: auto;
  width: 120px;
  height: 120px;
}

.svg-wrapper img {
  position: absolute;
  width: 100%;
  left: 0px;
}

.image-2 {
  opacity: 0;
  transition: opacity 0.5s ease;
  transition-delay: .5s;
}

.image-2.coloured {
  opacity: 1;
  top: -5px;
  left: 1px;
}