// Set colours
$bb-orange: #E56B54;
$bb-blue: #1D6C93;
$bb-white: #FFFFFF;

// Set fonts
@font-face {
  font-family: "CooperHewitt";
  font-weight: bold;
  src:url("/fonts/CooperHewitt-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Palanquin";
  src:url("/fonts/Palanquin-Regular.ttf");
}

body {
  // Overwrite default browser stlyes
  margin: 0px;
  font-size: 16px;
}

// Scroll Down intro section
.intro {
  height: 100vh;
  background: $bb-orange;
  display: flex;
  align-items: center;
  justify-content: center;
  
  h1 {
    font-family: 'CooperHewitt';
    color: $bb-white;
  }
}

.how-it-works {
  margin: 50px 0px;

  .step {
    text-align: center;

    &__header {
      font-family: 'CooperHewitt';
      line-height: 1.5;
      color: $bb-blue;
      font-size: 1em;
      margin-top: 0px;
      margin-bottom: 10px;
    }

    &__description {
      font-family: 'Palanquin';
      color: $bb-blue;
      font-size: 1em;
    }
  }
}

.svg-wrapper {
  position: relative;
  margin: auto;
  width: 120px;
  height: 120px;
}

.svg-wrapper img {
  position: absolute;
  width: 100%;
  left: 0px;
}

.image-2 {
  opacity: 0;
  transition: opacity 0.5s ease;
  transition-delay: .5s;
}

.image-2.coloured {
  opacity: 1;
  top: -5px;
  left: 1px;
}